/* colors.css */
:root {
  --primary-color: #00103d;
  --secondary-color: #6391b2;
  --alt-color: #f2f1ef;
  --text-color-black: #000000;
  --text-color-white: #ffffff;
  --border-color: #4b4b4b;
  --link-hover-color: var(--secondary-color);
  --link-hover-line-color: var(--secondary-color);
}
