@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "colors.css";

/* Bounce animation */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); /* Bounce at the top position */
  }
  40% {
    transform: translateY(-20px); /* Bounce higher in the middle */
  }
  60% {
    transform: translateY(-10px); /* Bounce lower in the middle */
  }
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  box-sizing: border-box;
}

h1 {
  font-size: 2.2rem;
  color: var(--secondary-color);
  line-height: normal;
}

p {
  font-size: 1rem;
}

button {
  padding: 8px 3rem;
  font-size: 0.85rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-family: "Poppins", sans-serif;
  border: none;
  transition: border 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.default-dark-button {
  background-color: var(--primary-color);
  color: var(--text-color-white);
  margin-top: 2rem;
}

.default-dark-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Hero section styles */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  overflow: hidden; /* Added to prevent scrollbars */
}

.hero-content {
  max-width: 850px;
  text-align: center;
}

.hero h1 {
  margin-bottom: 3rem;
}

.hero p {
  margin: 0px 10rem 30px 10rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

/* Navbar styles */
header {
  position: sticky;
  z-index: 10000;
  top: 0;
  background-color: var(--primary-color);
  padding: 15px 4rem;
  border-bottom: 1px solid var(--border-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  max-height: 35px;
}

nav div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: var(--text-color-white);
  font-size: 0.85rem;
  transition: border 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

nav a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
  transition: all 0.3s ease;
}
nav a.active {
  color: var(--secondary-color);
  text-decoration: underline;
  transition: all 0.3s ease;
  font-weight: 700;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.scroll-down {
  margin-top: 5rem;
}
.scroll-down img {
  cursor: pointer;
  animation: bounce 3s infinite;
}

.text-and-image {
  padding: 4rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  gap: 10rem;
}

.text-and-image img {
  width: 550px;
  height: 350px;
}

.text-image-desc {
  width: 50%;
}

.text-image-pic-div {
  width: 50%;
  display: flex;
  justify-content: end;
}

.summary {
  width: 100%;
  box-sizing: border-box;
}

.estimate {
  width: 100%;
  display: flex;
  align-items: center;
}

.estimate .gold {
  width: 50%;
  background-color: var(--secondary-color);
  padding: 5rem;
  text-align: center;
  color: var(--text-color-black);
}

.estimate .dark {
  width: 50%;
  background-color: var(--primary-color);
  padding: 5rem;
  text-align: center;
  color: var(--secondary-color);
}

.estimate .gold p,
.estimate .dark p {
  font-weight: 500;
  line-height: 0%;
  text-align: center;
}
.estimate .gold h2,
.estimate .dark h2 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 0%;
  text-align: center;
}

footer {
  padding: 6rem 4rem;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

footer > div:nth-child(1) {
  width: 33.33%;
}

footer > div:nth-child(2) {
  width: 33.33%;
  display: flex;
  justify-content: center;
}

.social-icons {
  width: 33.33%;
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.social-icons img {
  width: 20px;
  height: 20px;
}

#scroll-to-top {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 20px; /* Adjust this value to add space below */
  right: 20px; /* Align to the right */
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  z-index: 9999; /* Ensure it's above other content */
}

#scroll-to-top:hover {
  background-color: var(--primary-color);
}

/* Responsive Styles */

/* Adjust layout for smaller screens */
@media only screen and (max-width: 600px) {
  header {
    padding: 15px 1rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav img {
    max-height: 25px;
  }

  nav div {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }

  h1 {
    font-size: 1.5rem;
    line-height: normal;
  }

  p {
    font-size: 0.85rem;
  }

  .hero h1 {
    margin-bottom: 1rem;
  }

  .hero p {
    margin: 0px 1rem 30px 1rem;
    font-size: 1rem;
  }

  .hero {
    height: auto;
    padding: 4rem 0px;
  }

  .hero-content {
    max-width: 100%;
  }

  .summary {
    box-sizing: border-box;
    width: 100%;
  }

  .estimate {
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
  }

  .estimate .gold,
  .estimate .dark {
    width: 100%;
    padding: 2rem 0rem; /* Decreased padding to prevent overflow */
  }

  .text-and-image {
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    width: 100%;
    overflow: hidden;
    gap: 1rem;
  }

  .text-image-pic-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .text-image-desc {
    width: 100%;
  }

  .text-and-image img {
    width: 85%;
    height: 220px;
  }

  footer {
    padding: 2rem;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }

  footer > div:nth-child(1) {
    order: 2;
    width: 100%;
    text-align: center;
    margin: 2rem 0px;
  }

  footer > div:nth-child(2) {
    order: 1;
    width: 100%;
  }

  .social-icons {
    order: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}

/* Adjust layout for medium screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  header {
    padding: 15px 1rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav img {
    max-height: 25px;
  }

  h1 {
    font-size: 1.7rem;
    line-height: normal;
  }

  p {
    font-size: 0.85rem;
  }

  .hero h1 {
    margin-bottom: 1rem;
  }

  .hero p {
    margin: 0px 1rem 30px 1rem;
    font-size: 1rem;
  }

  .hero {
    height: auto;
    padding: 4rem 0px;
  }

  .hero-content {
    max-width: 100%;
  }

  .summary {
    box-sizing: border-box;
    width: 100%;
  }

  .estimate {
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
  }

  .estimate .gold,
  .estimate .dark {
    width: 100%;
    padding: 2rem 0rem; /* Decreased padding to prevent overflow */
  }

  .text-and-image {
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    width: 100%;
    overflow: hidden;
    gap: 1rem;
  }

  .text-image-pic-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .text-image-desc {
    width: 100%;
  }

  .text-and-image img {
    width: 600px;
    height: 350px;
  }

  footer {
    padding: 2rem;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }

  footer > div:nth-child(1) {
    order: 2;
    width: 100%;
    text-align: center;
    margin: 2rem 0px;
  }

  footer > div:nth-child(2) {
    order: 1;
    width: 100%;
  }

  .social-icons {
    order: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
